

.html, body, #root {
  /* height: 100%; */
  
  height: 100vh;
  /* overflow-y: scroll; */
}


.App {
  max-width: 1280px;
  margin: 0 auto;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 10px 0px 10px;
  /* height: 100%; */
  /* display: table; */
  /* height: 100vh; */
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}
/* float:left;
width:1000px;

height: 100px; */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
