.imprint {
  /* width: 100%; */
  max-width: 1260px;
  margin: 0 7px 0 11px;
  padding: 0px;
  /* background-color: rgb(216, 216, 216); */
  /* overflow-y: scroll; */
  height: 2000px;
}

.imprint__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #E54C00;
  padding-bottom: 10px;
}

.imprint__header h1 {
  font-size: 32px;
  font-weight: 800;
  color: #E54C00;
  margin: 0;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.imprint__close {
  border: none;
  background-color: transparent;
  font-size: 32px;
  cursor: pointer;
  color: #E54C00;
}

.imprint__close:hover {
  opacity: 0.7;
}

.imprint__content {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
}

.imprint__content p {
  margin-bottom: 16px;
}

.imprint__content h2 {
  font-size: 20px;
  font-weight: 700;
  color: #E54C00;
  margin-top: 20px;
  margin-bottom: 10px;
}

.imprint__error {
  color: #b00020;
  padding: 10px;
  background-color: #f0f0f0;
  border-left: 4px solid #b00020;
}
