body {
  margin: 0;
  font-family: 'roboto_variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: #DCD9CA; */
  background-color: #E5E5E5;

  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* justify-content: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'izoard_regular';
  src: local('izoard_regular'), url(../assets/fonts/izoard-regular-webfont.woff) format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'roboto_variable';
  src: local('Roboto'), url(../assets/fonts/Roboto-VariableFont_wdth,wght.ttf) format('truetype');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'roboto_bold';
  src: local('Roboto Bold'), url(../assets/fonts/static/Roboto-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'slabo';
  src: local('Slabo'), url(../assets/fonts/Slabo27px-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}